.slider-for-description {
  background-color: #e0efff;
  height: 158vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.slider-for-description2 {
  background-color: #e2f5e9;
  height: 158vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.slider-for-description3 {
  background-color: #ebdffd;
  height: 158vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.slider-for-description4 {
  background-color: #ffe2c7;
  height: 158vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.image-size {
  width: 100%;
}
.image-size3 {
  width: 105% !important;
}

@media screen and (max-width: 1280px) {
  .image-size {
    width: 10%;
  }
  .image-size3 {
    width: 100% !important;
  }
}
.write-up-under-image {
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  color: #222222;
  text-align: center;
  height: 120px;
}
.write-up-under-image2 {
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  color: #222222;
  text-align: center;
  /* height: 120px; */
}
.store {
  color: #007aff;
}
.store2 {
  color: #64f298;
}
.store3 {
  color: #c19cf9;
}
.store4 {
  color: #fac18b;
}

@media screen and (max-width: 843px) {
  .write-up-under-image {
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 500;
    font-size: 27px;
    color: #222222;
  }
  .write-up-under-image2 {
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 500;
    font-size: 27px;
    color: #222222;
  }
}
.thumbs-wrapper {
  display: none;
}
.carousel-status {
  display: none;
}
.dot {
  background-color: rgb(255, 255, 255) !important;
  outline: none !important;
  border: none !important;
  height: 12px !important;
  width: 12px !important;
}
.selected {
  background-color: #61a4ec !important;
  outline: none !important;
  border: none !important;
  height: 12px !important;
  width: 12px !important;
}
.control-arrow {
  display: none;
}

.inputs-holder {
  /* background: #f9f9f9; */
  padding-top: 100px;
  padding-bottom: 20px;
  padding-right: 23px;
  
  transition: transform 0.3s ease-in-out;
}
.inputs-holder2 {
  padding-top: 100px;
  padding-bottom: 20px;
  padding-right: 23px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* height: 158vh; */
  transition: transform 0.3s ease-in-out;
}
.sell-with-us {
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  color: #222222;
}
.sign-up {
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  color: #222222;
}
.input-label {
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #222222;
}

.input-input {
  height: 60px;
  width: 100%;
  background: #ffffff !important;
  border: 1px solid #eeeeee !important;
  padding: 15px;
  border-radius: 5px;
  outline: none !important;
}
.PhoneInputCountry {
  border-right: 2px solid #eeeeee !important;
  width: 44px;
  height: 32px;
}
.PhoneInputInput {
  height: 40px;
  width: 300px;
  outline: none;
  border: none;
  background-color: #ffffff !important;
  margin-bottom: 5px;
  margin-top: 5px;
  margin-right: 5px;
  border-radius: none;
}

.input-submit-button {
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  color: #ffffff;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 67px;
  background: #25d366;
  border-radius: 9.25897px;
  outline: none;
  border: none;

}
.other-items {
  display: flex;
  justify-content: center;
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  flex-wrap: wrap;
  color: #222222;
}
.sign-in{
    color: #007AFF;
}

@media screen and (max-width:767px){
    .disappear{
        display: none;
    }
    .inputs-holder {

  padding-top: 100px;
  padding-bottom: 20px;
  padding-right: 0px;
}
}

.multistep-form {
  width: 100%;
  height: 400px;
  position: relative;
}

.Link{
  text-decoration: none;
}