.slider-for-description{
    background-color: #E0EFFF;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image-size{
    width: 100%;
}


@media screen and (max-width:1280px){
    .image-size{
    width: 90%;
}
}