.slider-for-description {
 background-color: #e0efff;
 background-repeat: repeat-y;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.slider-for-description2 {
  background-color: #e2f5e9;
  
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.slider-for-description3 {
  background-color: #ebdffd;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.slider-for-description4 {
  background-color: #ffe2c7;
 
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.gutty{
  height: 100vh;
  width: 51%;
  position: fixed;
  /* background-color: red; */
  display: flex;
  justify-content: center;
  align-items: center;
}


.image-size {
  width: 100%;
}
.image-size3 {
  width: 100% !important;
}

@media screen and (max-width: 1280px) {
  .image-size {
    width: 10%;
  }
  .image-size3 {
    width: 100% !important;
  }
}
.write-up-under-image {
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  color: #222222;
  text-align: center;
  height: 120px;
}

.store {
  color: #007aff;
}
.store2 {
  color: #64f298;
}
.store3 {
  color: #c19cf9;
}
.store4 {
  color: #fac18b;
}

@media screen and (max-width: 843px) {
  .write-up-under-image {
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 500;
    font-size: 27px;
    color: #222222;
  }
  .write-up-under-image2 {
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 500;
    font-size: 27px;
    color: #222222;
  }
}
.thumbs-wrapper {
  display: none;
}
.carousel-status {
  display: none;
}
.dot {
  background-color: rgb(255, 255, 255) !important;
  outline: none !important;
  border: none !important;
  height: 12px !important;
  width: 12px !important;
}
.selected {
  background-color: #61a4ec !important;
  outline: none !important;
  border: none !important;
  height: 12px !important;
  width: 12px !important;
}
.control-arrow {
  display: none;
}
.negate{
  /* background-color: red; */
  margin-left: 20px;
}
.inputs-holder {
  /* background: #f9f9f9; */
  padding-top: 100px;
  padding-bottom: 20px;
  padding-right: 23px;
  transition: transform 0.3s ease-in-out;
}
.captcha-holder {
  /* background: #f9f9f9; */

width: 80%;

}
.inputs-holder2 {
  padding-top: 100px;
  padding-bottom: 20px;
  padding-right: 23px;
  display: flex;
   width: 450px;
  flex-direction: column;
  justify-content: center;
  /* height: 158vh; */
  transition: transform 0.3s ease-in-out;
}
.phoneNumber{
 display: flex;
 justify-content: center;
margin-top: 30px;
}
@media screen and (min-width:1440px){
  .phoneNumber{
 display: flex;
 justify-content: center;
margin-top: 90px;
}
}
.sell-with-us {
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  color: #222222;
}
.sign-up {
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  color: #222222;
}
.input-label {
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #222222;
}

.input-input {
  height: 60px;
  width: 450px;
  background: #ffffff !important;
  border: 1px solid #eeeeee !important;
  padding: 15px;
  border-radius: 5px;
  outline: none !important;
}
.PhoneInputCountry {
  border-right: 2px solid #eeeeee !important;
  width: 44px;
  height: 32px;
}
.PhoneInputInput {
  height: 40px;
  width: 300px;
  outline: none;
  border: none;
  background-color: #ffffff !important;
  margin-bottom: 5px;
  margin-top: 5px;
  margin-right: 5px;
  border-radius: none;
}

.input-submit-button {
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  color: #ffffff;
  width: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 67px;
  background: #25d366;
  border-radius: 9.25897px;
  outline: none;
  border: none;

}
.other-items {
  display: flex;
  justify-content: center;
  font-family: 'Lexend';
   width: 450px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  flex-wrap: wrap;
  color: #222222;
}
.sign-in{
    color: #007AFF;
}

@media screen and (max-width:991px){
  .captcha-holder {
  /* background: #f9f9f9; */

width: 100%;

}
  .negate{

  margin-left: 0px;
}
    .disappear{
        display: none;
    }
    .inputs-holder {

  padding-top: 100px;
  padding-bottom: 20px;
  padding-right: 0px;
}
.alert2{
width: 100% !important;
padding: 9px;
margin-top: 13px !important;
background: #FFF5EA !important;
border: 1px solid #FFC972 !important;
border-radius: 5px !important;
display: flex;
justify-content: space-between;
align-items: center;
font-family: 'Lexend';
font-style: normal;
font-weight: 400;
font-size: 12px !important;
color: #302F2F;
}
.alert3{
width: 100% !important;
padding: 9px;
margin-top: 13px !important;
background: #ffeaea !important;
border: 1px solid #ff7272 !important;
border-radius: 5px !important;
display: flex;
justify-content: space-between;
align-items: center;
font-family: 'Lexend';
font-style: normal;
font-weight: 400;
font-size: 12px !important;
color: #302F2F;
}
.alert4{
width: 100% !important;
padding: 9px;
margin-top: 13px !important;
background: #ffeaea !important;
border: 1px solid #ff7272 !important;
border-radius: 5px !important;
display: flex;
justify-content: space-between;
align-items: center;
font-family: 'Lexend';
font-style: normal;
font-weight: 400;
font-size: 12px !important;
color: #302F2F;
}
.input-input {
  height: 60px;
  width: 100%;
  background: #ffffff !important;
  border: 1px solid #eeeeee !important;
  padding: 15px;
  border-radius: 5px;
  outline: none !important;
}
.input-submit-button {
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  color: #ffffff;
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 67px;
  background: #25d366;
  border-radius: 9.25897px;
  outline: none;
  border: none;

}
.other-items {
  display: flex;
  justify-content: center;
  font-family: 'Lexend';
   width: 100%;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  flex-wrap: wrap;
  color: #222222;
}
.inputs-holder2 {
  padding-top: 100px;
  padding-bottom: 20px;
  /* padding-right: 23px; */
  display: flex;
   /* width: 100%; */
  flex-direction: column;
  justify-content: center;
  /* height: 158vh; */
  transition: transform 0.3s ease-in-out;
}
}

.multistep-form {
  width: 100%;
  height: 400px;
  position: relative;
}

.Link{
  text-decoration: none;
}
.disabled {
background: #25d365;
  cursor: not-allowed;
}



.alert2{
width: 450px;
padding: 9px;
margin-top: 13px !important;
background: #FFF5EA !important;
border: 1px solid #FFC972 !important;
border-radius: 5px !important;
display: flex;
justify-content: space-between;
align-items: center;
font-family: 'Lexend';
font-style: normal;
font-weight: 400;
font-size: 12px !important;
color: #302F2F;
}
.alert3{
width: 450px;
padding: 9px;
margin-top: 13px !important;
background: #ffeaea !important;
border: 1px solid #ff7272 !important;
border-radius: 5px !important;
display: flex;
justify-content: space-between;
align-items: center;
font-family: 'Lexend';
font-style: normal;
font-weight: 400;
font-size: 12px !important;
color: #302F2F;
}
.alert4{
width: 450px;
padding: 9px;
margin-top: 13px !important;
background: #eaffef !important;
border: 1px solid #72ff93 !important;
border-radius: 5px !important;
display: flex;
justify-content: space-between;
align-items: center;
font-family: 'Lexend';
font-style: normal;
font-weight: 400;
font-size: 12px !important;
color: #302F2F;
}
.cann{
  cursor: pointer;
  color: #A7A7A7;
  font-size: 25px;
}
.loik{
color: #25D366;
 font-size: 25px;
}
.loik2{
color: #FFAA2B;
 font-size: 25px;
}
.loik3{
color: #f87f7f;
 font-size: 25px;
}